@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200;1,500&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --gold-primary: #E4FF1A;
    --gold-filter: #E4FF1A99;
    --red: #B80000;
    --background: #f2f3f5;
    --gray-line: #dcdde0;
    --text: #666666;
    --text-highlight: #b3b9ff;
    --title: #2e384d;
    --red: #e83f5b;
    --green: #4cd62b;
    --blue: #5965e0;
    --blue-dark: #4953b8;
    --blue-twitter: #2aa9e0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

/* Cabeçalho */
header {
    position: relative;
    z-index: 1;
}

#navbarNav {
    text-transform: uppercase;
    font-weight: 600;
}

#container-navbar {
    width: 100%;
    min-height: 6rem;
    background: var(--gold-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s linear;
    font-size: 1.5rem;
}

#navbar-name {
    padding-left: 2rem;

}

#navbar-links {
    padding-right: 2rem;
}

#navbar-links ul {
    display: flex;
    list-style: none;

}

#navbar-links ul li a {
    padding-left: 1rem;
    color: var(--black);
}

a {
    text-decoration: none;
}

/* background */

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

.p-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 4rem;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 10px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}



/* Seção de apresentação */

#presentation {
    background-image: url(./assets/background.jpeg);
    background-size: cover;
    background-position: top center;
    position: relative;
}

#presentation h1 {
    display: block;
    width: fit-content;
    font-size: 5rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}

#presentation h1:nth-child(1) {
    animation-delay: .8s;
}

#presentation h1:nth-child(2) {
    animation-delay: 1.8s;
}

#presentation h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 2.8s;
}

#presentation .cta {
    display: inline-block;
    padding: 10px 30px;
    color: var(--gold-primary);
    background-color: transparent;
    border: 2px solid var(--gold-primary);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .5s ease;
    transition-property: background-color, color;

}

#presentation .cta:hover {
    color: var(--black);
    font-weight: 500;
    background-color: var(--gold-primary);
}

#presentation h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
    background-color: var(--gold-primary);
}

#presentation h1:nth-child(1) span {
    animation-delay: .5s;
}

#presentation h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#presentation h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#presentation::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.5;
    z-index: -1;
}

/* Seção de Portifólio */
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem 0;
}

#portfolio .portfolio {
    flex-direction: column;
}

#portfolio .portfolio-header h1 {
    margin-bottom: 50px;
}

#portfolio .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.project-item {
    margin-bottom: 1rem;
}

#portfolio .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 10px;
}

#portfolio .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #5a10b5 0%, #002349 100%);
    color: white;
}

/* animação portifolio */


#portfolio .project-item:nth-child(even) .project-info {
    animation: slideRight .7s ease;
}

#portfolio .project-item:nth-child(odd) .project-info {
    animation: slideLeft .7s ease;
}

#portfolio .project-item:nth-child(even) .project-img {
    animation: slideLeft .7s ease;
}

#portfolio .project-item:nth-child(odd) .project-img {
    animation: slideRight .7s ease;
}

[data-anime] {
    opacity: 0;
    transition: .7s;
}

[data-anime="up"] {

    transform: translate3d(0, -50px, 0);
}

[data-anime="down"] {

    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@keyframes slideLefti {
    from {
        opacity: 0;
        transform: translateX(-100px)
    }

    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes slideRighti {
    from {
        opacity: 0;
        transform: translateX(100px)
    }

    to {
        opacity: 1;
        transform: translateX(0px)
    }
}


#portfolio .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#portfolio .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#portfolio .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#portfolio .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); */
    opacity: 0.7;
}

#portfolio .project-img img {
    transition: 0.5s ease transform;
}

#portfolio .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* skills */
.container-skills {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.skill {
    text-align: center;
}

.skill img {
    width: 100px;
    object-fit: contain;
}

.skill p {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;

}

/* rodapé */
#container-rodape {
    width: 100%;
    min-height: 6rem;
    margin-top: 5rem;
    background: var(--gold-primary);
    transition: 1s linear;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-rodape p {
    text-transform: uppercase;
}

/* Keyframes */

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: var(--gold-primary);
        font-weight: 500px;
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0%;
        left: 100%
    }
}

/* Media Query */
@media (min-width: 768px) {
    #portfolio .project-item {
        flex-direction: row;
        height: 400px;
        width: 100%;
        border-radius: 0;
    }

    #portfolio .all-projects .project-info {
        height: 100%
    }

    #portfolio .all-projects .project-img {
        height: 100%
    }

    #portfolio .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

}

@media (max-width: 768px) {
    .skill {
        width: 20%;
    }
    .skill img {
        width: 50px;
    }
    .skill p {
        font-size: 1rem;
    }
}